*{
    margin: 0;
    padding: 0;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
}
.hamburger-icon {
    display: none;
}

.hamburger-icon {
    border: none;
    background-color: transparent;
}
section{
    max-width: 1350px;
     width:  100% ;
     margin: auto;
}



.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
    color: maroon;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(6,1fr);
   
    color: black;
    background-color: whitesmoke;
   
}
.menu li{
    list-style: none;
    border: 1px solid gray;
    height: 70px;
     display: grid;
    justify-content: center;
    align-items: center; 
  
}
#na:hover{
   
    background-color: white;
}
#na2:hover, #na3:hover{
    background-color: white;
}
.menu li a{
    text-decoration: none;
     color: maroon;
    font-weight: bold;
     font-size: 16px;
}
.titlesec{
    text-align: center;
     margin-top: 30px;
}
.cardsec{
    text-align: center; 
    margin-top: 30px;
}

.ad  {
    text-decoration: none;
   
 }
 .sale {
    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
}

 .t {
     background-color: rgb(51, 8, 8);
     color: white;
     font-weight: bolder;
 }
.titlesec p{
    display: inline-block; background-color: rgb(51, 8, 8);color: white;padding: 10px 20px;
    font-size: 20px; margin-top: 10px;
}
.profile {
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.gridts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px;
}
.gridts img:hover{
   transform: scale(0.9);
   transition: 0.3s ease-in;
  border-radius: 50px;
}
   

.t1 img,.t3 img{
     width: 300px;
}
.t3 img{
    width: 400px;
    height: 450px;
}
 .t2 img {
    width: 480px;
    height: 450px;
}  
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
    margin: 40px;
  
}
#card1,#card2,#card3,#card4,#card5,#card6,#card7,#card8{
    justify-self: center;

}

.card img:hover{
    transform: scale(0.8);
    transition: 0.3s ease-in;
   border-radius: 40px;
}
.contentwhole{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    margin: 40px;
   
}
.content1{
    justify-self: center;
}.content1 img{
   
    width: 400px ;
    height:500px ;
} 
@keyframes enter-animation {


0%{
    transform: translateY(-300px);
    opacity: 0;

}
100%{
    transform: translateY(0);
    opacity: 1;

}
}
.herosec{
    animation: enter-animation 1.6s 1;
}
.content{
    justify-self: center;
    line-height: 90px;
    align-self: center;
    animation: enter-animation 1.6s 1;
}
.first{
    margin-top: 50px;
   
}
@keyframes enter-animation3 {


    0%{
        transform: translateX(-200px);
        opacity: 0;
    
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    
    }
    }

.offer{
    animation: enter-animation3 1.6s 1;
}

.first,.nxt{
  display: grid;
  grid-template-columns: 390px auto;
  border: 1px solid maroon;
  line-height: 30px;
}

.footit{
    background-color: black;
    color: bisque;
    display: grid;
   place-items: center;
    height: 260px;
  
   
}
.contentp{
   background-color: #D6FF38; 
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
   
}
.socialicon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 20px;
    
    height: 70px;
}
.li h5 {
    line-height: 50px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3,auto);
    height: 260px;
   
    justify-content: space-evenly;
    align-items: center;
  
  
}
.shop{
    border-radius: 5px;
     font-size: 18px;
     width: 200px;
     height: 60px;  
     color: yellow;
      background-color: black;
}
.shop:hover{
    color: beige;
    background-color: rgb(51, 8, 8);
    }
.card p{
    font-size: 16px;
    color: gray;
}
.card h5{
    font-size: 20px;
}
.card h5,.card p{
    text-align: center;
    line-height: 30px;
   
   
}

 
 .center input {
    width: 450px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border-color: 2px rgb(59, 59, 59) ;
   
 }
 
 
 .center .send {
    width: 455px;
    height: 50px;
    border: none;
    font-size: 17px;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
    background-color: rgb(51, 8, 8);
 }
 
 .send:hover {
    color:  yellow;
    background-color: black;
    cursor: pointer;
 
 }
 .containercon{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-top: 60px;
   
 }
 .center{
    margin-top: 5px;
   
 }
 .img img{
    width: 350px;
    height: 450px;
   
 }
 .form,.img{
   display: grid;
   justify-content: center;
    align-items: center; 
 }
  .side{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 } 

 .contain1{
     display: flex;
     gap: 18px;
     justify-content: center;
     line-height: 60px;
     align-items: center;
 }
 .contain1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
 }
 .contain1 p{
   
    color: black;
    font-size: 25px;
 }

 .contain2,.contain3{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    line-height: 30px;
   
    align-items: center;
 }
 .contain2 ul {
    list-style: none;
    padding: 20px;
 }

 .contain2 ul a{
   color: maroon;
    text-decoration: none;
 }
 .contain3 .check{
   text-align: left;
   line-height: 30px;
   padding: 5px;
   color: maroon;
 }
 .sidecontain{
   display: flex;
   line-height: 30px;
   flex-direction: column;
  margin-top: 80px;
 }
 .contain2 h4,.contain3 h4{
    font-size: 26px;
    font-weight: bold;
    color: black;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 200px;
    padding: 10px;

 }
 .cardsec h1{
    font-size: 54px; 
    font-weight: bolder;
   }
 
 .contain3 h4{
   margin-right: 24px ;
 }
 .contain3 p {
    font-size: 18px;
    padding: 5px;
    margin-right: 31px;
 }
 #check1{
    margin-right: 37px;
 }
 #check2{
    margin-right: 22px;
 }
 #check3{
    margin-right: 39px;
 }
 .nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
   
   
    background-color: rgb(51, 8, 8);
    border-radius: 5px;
    color: white;
}

 
 




